@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

*{margin:0;padding:0};
img{border:none}

body {
	background-color: white;
  	font-family: "Open Sans", sans-serif;
 	margin: 0;
}

.navbar {
	margin-bottom: 5px;
	
}

.navbar-brand{
    background-image: url(../img/logo.png);
    width: 250px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;  
    margin-bottom:10px;
   
}

.container-fluid{
	margin-top: 15px;
}

.dropdown-menu{
	min-width: 260px;
}

.signup{
  	/*background-image: url(https://i.imgur.com/5MN1l26.jpg);*/
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-position: center center;
}

.main-center{
  	margin-top: 30px;
  	margin: 0 auto;
  	max-width: 330px;
  	padding: 40px 40px;

}

.signup-button{
	margin-top: 5px;
}

.cancel-register{
	font-size: 11px;
	text-align: center;
}

.col-sm-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
/*** modal *****/
.m-header{
    padding:10px;
    text-align: center;
    font-size: 30px;
    background-color: #f9f9f9;
}
.modal{
	padding-top: 70px;
}

.modal-body{
    background-color: #f9f9f9;
    text-align: center;
    font-size: 20px;
    padding:0px 50px 0px 50px;
}
.modal-title{
	margin-bottom:20px;
	padding-top:20px; 
	font-style:italic;
	font-weight:bold;
}

.modal-text{
	background-color: white;
	padding-bottom: 20px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.modal-copyright p{
    font-size:12px;
    padding:10px 0 10px 0;
}

/***** END of modal*****/

/****** about page*******/

.image-aboutus-banner {
  	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://i.imgur.com/9DGkuDf.jpg");
  	background-repeat: no-repeat;
 	background-size: cover;
  	background-position: center center;
  	color: #fff;
  	padding-top: 110px;
  	padding-bottom:110px;
}
/****** END of about page*******/

/***** footer *******/  
footer{
    background-color:#f0f0f0;
    padding: 10px 0px;
    margin: 0;
}
  
  
.copyright{
    background-color:#d3d1d1;
}
  
.copyright p{
    font-size:12px;
    padding:15px 0 10px 0;
}
/***** END of footer*******/


/******* my profile css****************/
#profileDrop{
	display:none;
}

.sidebtn{
	width:100%;
	margin-top:2%;
	margin-bottom:2%;
	
	
}

.side{
	/*float: left;
	width:15%;*/
  	padding: 20px 20px 10px 20px
 	
}


.profile-userimg{
  margin-bottom:10px;
}

.profile-userimg img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border-radius: 50% !important;
  box-shadow: 1px 1px 2px 2px #888888;
}

.profile-user {
  text-align: center;
  margin-top: 20px;
}

.profile-username {
  color: #36777c;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 6px;
}

.profile-usertitle {
  	text-transform: uppercase;
  	color: #4DAAB1;
  	font-size: 12px;
  	font-weight: 800;
  	margin-bottom: 15px;
}

.centered-text{
  	text-transform: uppercase;
  	font-size: 12px;
  	font-weight: 600;
}
.profile-usersummary{
  	font-size: 12px;
  	font-weight: 500;
  	margin-top: 10px;
  	font-weight: 600;
}
.profile-user-travel{
	margin-bottom: 85px;
}
.profile-user-travel p{
  	font-size: 12px;
  	font-weight: 800;
  	color: #36777c;
  	text-transform: uppercase;
}
.column{
  	width:50%;
  	float:left;
}

.side-button {
  margin-top: 30px;
}

.side-button ul li {
  border-bottom: 1px solid #f0f0f0;
}



.side-button ul li a {
  color: #78817d;
  font-size: 14px;
  font-weight: 600;
  
}

.side-button ul li a i {
  margin-right: 6px;
  font-size: 14px;
}

.side-button ul li a:hover {
  background-color: #fafcfd;
  color:#5cb85c;
  border-left: 2px solid #5cb85c;
  
  
}




.main{

	padding-left:8%;
}

#editForm{
	padding-right:10%;
}

.update-btn{
	text-align: right;
	margin-bottom:10px;
}

.messageSucess{
	border-style: solid;
    border-width: 1px;
	border-color: #1E8449 ;
	color: #1E8449;
	background-color: #D4EFDF;
	padding: 2px;
}

.messageFail{
	border-style: solid;
    border-width: 1px;
	border-color: #922B21;
	color: #922B21;
	background-color: #F5B7B1 ;
	padding: 2px;
}


