@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);


.about-user{
    margin-bottom: 80px;
}
.col-md-6{
    margin-bottom: 10px;
}

.aboutSum  {
	border-left: 0.5em solid #e46c58;
	font-family: 'Permanent Marker', cursive;
	border-radius: 5px;
    color:black;
    font-size:1.2em;
	padding: 1em 1.5em 1em 2.5em;
	position: relative;
	line-height: 150%;
	text-indent: 20px;
}


.aboutSum:before {
	
  	color: black;
  	content: "\201C";
  	font-size: 2.5em;
  	position:absolute;
  	left:-15px;
  	top: 20px;
  	line-height: 0.1em;
  	padding:5px;
}


.aboutSum:after {

    color: black;
  	content: "\201D";
 	font-size: 2.5em;
  	position:absolute;
  	right:15px;
  	bottom: 0em;
  	line-height: 0.1em;
  	padding:5px;
  }

#map {
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

.user-all-guides{
  margin-top: 30px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
}
.all-content {
  border: 1px solid #ddd;
  padding: 0px 25px 0px 25px;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.all-heading {
  
  border: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  padding: 25px 25px 10px 25px;
  position: relative;
  margin-bottom: -1px;
}
.all-content h2{
  margin-top: 0px;
  font-weight:800;
}
.all-content img{
  background-size: cover;
  height: 100%;
  width: 100%;

}
.all-heading:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  position: absolute;
  top: 10px;
  left: -6px;
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  transform: rotate(-45deg);
}

.breadcrumb{
  margin:0px;
  background-color: white;
  padding: 8px 0px;
  font-size: 12px;
}