@import url('https://fonts.googleapis.com/css?family=Oswald');

#searchMessage{
    font-size:20px;
    font-weight: 800;
}

.side-t{
	font-family: 'Oswald', sans-serif;
	color: #F16E59;
	margin-top:15px;
	
}
.selection-t{
	font-family: 'Oswald', sans-serif;
	font-size:15px;
	margin-top:10px;
	margin-bottom:0px;
}

  
.glyphicon-star{
	color: #F16E59;
}
.searchResult {
	padding: 5px;
	display: none;
	margin-top: 20px;
	border:none;
	
}

.guide-type{
	font-size: 12px;
}
  
.fImage{
	height: 136px;
	width: 100%;
	margin-right: 0px;
}

.guide-info{
	border: 1.5px solid #E3E3E2;
	padding: 10px;
}

.result-t{
	font-family: 'Oswald', sans-serif;
	font-size:30px;
	color: grey;
}
