@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.sideBar{
	 margin-top:80px;
 }
 
@media (min-width: 992px){ 
.sideBar{
	position:fixed;
	width:15%;

}

@media (min-width: 992px){ 
.guideContent{
	margin-left: 25%;
	
}

.guideContent{
	margin-top: 80px;	
}


/******** blockquote mark */

.guideSum {

	font-family: 'Permanent Marker', cursive;
	border-radius: 5px;
    color:black;
    font-size:1.2em;
	padding: 1em 1.5em 1em 2.5em;
	position: relative;
	line-height: 120%;
	text-indent: 20px;
}


.guideSum:before {
	
  	color: black;
  	content: "\201C";
  	font-size: 3em;
  	position:absolute;
  	left:-15px;
  	top: 20px;
  	line-height: 0.1em;
  	padding:5px;
}


.guideSum:after {

    color: black;
  	content: "\201D";
 	font-size: 3em;
  	position:absolute;
  	right:15px;
  	bottom: 0em;
  	line-height: 0.1em;
  	padding:5px;
  }

/************ END of block quote style ***********/ 


.guide-type{
	font-size: 12px;
}
  
.contentLink {
    background-color: white;
    border-left: 5px solid #f0f0f0;
    color: #78817d;
    font-size: 14px;
    font-weight: 600;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}


.contentLink2{
  background-color: #F16E59;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-left: 5px solid #f0f0f0;
}

.subTitle::before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
  pointer-events: none;
}
  

.subTitle{
	font-family: 'Permanent Marker', cursive;
	font-size: 28px;
	margin-bottom: 14px;
}


#dayContainer{
    margin-bottom: 50px;
}

.rating .glyphicon {
    font-size: 22px;
}

.rating-num {

     font-size: 54px; 
}

.rSection{
   
    border-top: medium solid #F16E59;
    color: black;
    margin: 30px 0;
	overflow: visible;
}

.rSection:after {
    content:"Review";
    display: inline-block;
    position: relative;
    top: -1em;
    font-size: 24px;
    font-weight: 800;
    padding-right: 0.5em;
    background: white;
}

.review-userimg img{
    float: none;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    border-radius: 50% !important;
    box-shadow: 1px 1px 2px 2px #888888;
}



.sliderImage {
	max-width: 100%;
	height: 20rem;
	padding: 5px;
	object-fit:cover;
 }


.slick-prev:before, .slick-next:before { 
    color:grey !important;
}

#r0{
	display:none;
}
.comment-cotent {
    border: 1px solid #ddd;
    padding: 10px;
}

.comment-heading {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px 5px 25px 5px;
    position: relative;
    margin-bottom: -1px;
}
.comment-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}
.comment-box{

margin-bottom: 15px;
}
.reviewer{
    margin-left: 6px;
    float: left;
}

.oldRating{
    margin-right: 6px;
}