@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


  
  /*.contentLink  a {
    color: #78817d;
    font-size: 14px;
    font-weight: 600;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;

  }*/

/*.contentLink2  a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;

  }*/

 .sideBar{
	 margin-top:80px;
 }
 
@media (min-width: 992px){ 
.sideBar{
	position:fixed;
	
}

.guideContent{
	 margin-top: 80px;
	margin-left:25%;
}
}
  
.contentLink {
    background-color: white;
    border-left: 5px solid #f0f0f0;
    color: #78817d;
    font-size: 14px;
    font-weight: 600;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}


.contentLink2{
  background-color: #F16E59;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-left: 5px solid #f0f0f0;
}

.subTitle::before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
  pointer-events: none;
}
  

.subTitle{
	font-family: 'Permanent Marker', cursive;
	font-size: 28px;
	margin-bottom: 14px;
}

/** cus icons**/
.cus- {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.cus--date {
    width: 139px;
    height: 152px;
    background-position: -5px -5px;
}

.cus--location {
    width: 91px;
    height: 121px;
    background-position: -5px -167px;
}

.cus--money {
    width: 142px;
    height: 79px;
    background-position: -5px -298px;
}

/*.description{
    font-family:Arial, sans-serif;
    font-size:16px;
}
*/

#dayContainer{
    margin-bottom: 50px;
}

.rating .glyphicon {
    font-size: 22px;
}

.rating-num {

     font-size: 54px; 
}

.rSection{
   
    border-top: medium solid #F16E59;
    color: black;
    margin: 30px 0;
	overflow: visible;
}

.rSection:after {
    content:"Review";
    display: inline-block;
    position: relative;
    top: -1em;
    font-size: 24px;
    font-weight: 800;
    padding-right: 0.5em;
    background: white;
}

.review-userimg img {
    float: none;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    border-radius: 50% !important;
    box-shadow: 1px 1px 2px 2px #888888;
}


.sliderImage {
	max-width: 100%;
	height: auto;
	padding: 5px;
}

.slick-prev:before, .slick-next:before { 
    color:grey !important;
}
